.Blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 72px;
  color: var(--dark-gray);
  cursor: default;
}

.Hero {
  display: flex;
  margin: 72px 64px 0 64px;
  background-color: var(--dark-gray);
  color: var(--white);
}

.Hero img {
  z-index: 1;
  width: 400px;
}

.Hero div {
  display: flex;
  flex-direction: column;
  padding: 64px 200px 48px 72px;
}

.Hero span,
.Hero a {
  font-weight: 300;
}

.Hero h2 {
  font-size: 48px;
  font-weight: 400;
}

.Hero a {
  position: relative;
  box-sizing: border-box;
  margin-top: 40px;
  padding: 2px 0;
  cursor: pointer;
}

.Hero a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 1px solid transparent;
}

.Hero a::after {
  bottom: 0;
  left: 0;
}

.Hero a:hover::after {
  width: 10%;
}

.Hero a:hover::after {
  border-bottom-color: var(--white);
  transition: border-color 0s ease-out 0.1s, width 0.2s ease-out 0.1s;
}

.Posts {
  display: flex;
  gap: 30px;
  margin: 40px 64px;
}

/* Responsive Breakpoints */
@media (max-width: 1280px) {
  .Hero img {
    width: 450px;
  }
}

@media (max-width: 1024px) {
  .Blogs {
    padding: 48px;
  }

  .Hero img {
    width: 300px;
  }

  .Hero div {
    padding: 32px 24px;
  }

  .Hero h2 {
    font-size: 32px;
  }

  .Hero a {
    margin-top: 24px;
  }

  .Posts {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .Blogs {
    padding: 48px 32px;
  }

  .Blogs h2 {
    font-size: 20px;
  }

  .Blogs q {
    font-size: 14px;
  }

  .Hero {
    margin: 64px 48px 0 48px;
  }

  .Hero div {
    justify-content: center;
    padding: 14px 28px;
  }

  .Hero img {
    width: auto;
    height: 200px;
  }

  .Hero span,
  .Hero a {
    font-size: 14px;
  }

  .Hero h2 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .Blogs {
    padding: 48px 24px;
  }

  .Blogs q {
    text-align: center;
  }

  .Hero {
    flex-direction: column;
  }

  .Hero img {
    width: 100%;
    height: auto;
  }

  .Hero div {
    justify-content: center;
    padding: 28px;
  }

  .Posts {
    flex-direction: column;
    margin: 36px 32px;
  }
}

@media (max-width: 375px) {
  .Blogs {
    padding: 48px 12px;
  }

  .Hero {
    margin: 64px 24px 0 24px;
  }
}
