.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 200px;
  background-color: var(--light-gray);
  color: var(--dark-gray);
}

.Navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 48px;
  width: 100%;
  border-bottom: 1px solid var(--dark-gray);
}

.Navigation a {
  font-size: 14px;
  font-weight: 700;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}

.Navigation a:hover {
  color: var(--primary);
}

.Navigation h1 {
  font-family: 'Homemade Apple', cursive;
  font-size: 18px;
  color: var(--primary);
  cursor: default;
}

.Social {
  display: flex;
  justify-content: space-evenly;
  margin-top: 54px;
  margin-bottom: 72px;
  width: 35%;
}

.Social img {
  background: none;
  border-radius: 50%;
  transition: 0.2s all ease-in-out;
}

.Social img:hover {
  background: var(--primary);
}

/* Responsive Breakpoints */
@media (max-width: 1024px) {
  .Social {
    width: 45%;
  }

  .Footer span {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .Footer {
    padding: 24px 150px;
  }

  .Social {
    width: 60%;
  }
}
