.Navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 3;
  padding: 12px 48px;
  width: 100%;
  max-width: 1440px;
  background-color: var(--light-gray);
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
}

.Logo {
  font-family: 'Homemade Apple', cursive;
  font-size: 18px;
  color: var(--dark-gray);
  cursor: default;
}

.Link {
  display: flex;
  gap: 20px;
  list-style: none;
}

.Link a {
  color: var(--dark-gray);
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.Link a:hover,
.Link a.active {
  color: var(--primary);
}

.Button {
  padding: 10px 20px;
  color: var(--primary);
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid var(--primary);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.Button:hover {
  color: var(--light-gray);
  background-color: var(--primary);
}

/* Responsive Breakpoints */
@media (max-width: 768px) {
  .Logo {
    font-size: 16px;
  }

  .Link a,
  .Button {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .Navbar {
    padding: 12px 24px;
  }
}
