.Section_One {
  display: flex;
  padding-top: 72px;
  background: var(--light-gray);
  color: var(--dark-gray);
  cursor: default;
}

.Left,
.Right {
  box-sizing: border-box;
  width: 50%;
}

.Left {
  padding: 100px;
}

.Left h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 1.5;
}

.Left p {
  margin-bottom: 72px;
  font-size: 20px;
  line-height: 1.5;
}

.Left a {
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--white);
  text-transform: uppercase;
  border: 1px solid var(--primary);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.Left a:hover {
  background-color: var(--light-gray);
  color: var(--primary);
}

.Right {
  z-index: 1;
}

.Right img {
  width: 100%;
  height: 100%;
}

/* Responsive Breakpoints */
@media (max-width: 1280px) {
  .Left {
    padding: 72px;
  }
}

@media (max-width: 1024px) {
  .Left {
    padding: 48px;
  }

  .Left h1 {
    font-size: 42px;
  }

  .Left p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .Left {
    padding: 32px;
  }

  .Left h1 {
    font-size: 32px;
  }

  .Left p,
  .Left a {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .Section_One {
    flex-direction: column;
  }

  .Left {
    padding-bottom: 48px;
  }

  .Left,
  .Right {
    width: 100%;
  }
}
