.Service {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  padding: 96px 72px;
}

.Service q {
  margin-bottom: 64px;
}

.Cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
